body {
  background-color: #01161E;

  color: black;
  font-family: 'raleway', sans-serif;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 400%;
  color: white;
  /*margin-top: 0px;
  margin-bottom: 40px;*/
  text-align: center;
  background: url(./glitch.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.app-header {
  margin-top: 40px;
  margin-bottom: 60px;
}

.app-logo {
  height: 60px;
  margin: 1%;
}

.video-info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  line-height: 40px;
}

.video-title {
  font-size: large;
  font-weight: bold;
}

.list-heading {
  background-color: #3b8788;
  text-align: center;
  font-size: 100%;
  margin-bottom: 2px;
  padding: 10px;
}

.list-items {
  background-color: white;
  border: .5px solid black;
  text-align: center;
  font-size: 80%;
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
}

.list-items:hover {
  background-color: #eee;
}

footer {
  margin-top:40px;
  text-align: center;
}
